* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cnt {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #F77F00;
    padding: 50px;
}

.cnt2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #464646;
    padding-top: 50px;
}

.prf {
    display: flex;
    text-align: justify;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
}

.bg {
    background-color: #464646;
    padding: 50px;
}

.bg2{
    background-color: #F77F00;
    padding: 50px;
}